<h1>Update Artist</h1>

<%= form_tag artists_path do %>
<label> Artist Name:</label><br>
<%= text_field_tag :'artist[name]' %><br>

<label> Age</label><br>
<%= number_field_tag :'artist[age]' %><br>

<label> Artist Bio:</label><br>
<%= text_area_tag :'artist[bio]' %><br>


<%= submit_tag "Submit Artist"%>

<% end %>